<h1>New User</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Do you have an account ? <%= link_to "Log in now!", login_path %></p>
    <%= link_to 'Back', users_path %>
  </div>
</div>