<div id="contents_pb">
<div class="container">
    
    <h1>New User</h1>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <%= render 'form' %>
      </div>
      <div class="col-sm-2">
        <p class="h5">登録済の方はこちら！</p> 
        <%= link_to "Log in now!", login_path, class: "btn btn-default"%>
      </div>
    </div>
    
</div>
</div><!-- contents_pb -->