<div id="contents">
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>KUSUNOKI&nbsp;<br />SHOP&nbsp;</h1>
        <h2>Envelope and MessageCard&nbsp;</h2>
      </div>
    </div>
  </div>

  <%= render 'products/envelopes_list' , product_envelopes: @product_envelopes %>
  
</div><!-- contents -->