  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>KUSUNOKI<br />SHOP</h1>
      </div>
    </div>
  </div>

  <%= render 'products/envelopes_list' , product_envelopes: @product_envelopes %>
  