<div class="container">

  <div class="session_about">
    <div class="row">
      <div class="col-sm-12">
      <p><br /><br />ここには、商品説明が入ります。<br /><br /></p>
      </div>
    </div>
  </div>

  <div class="session_howto">
    <div class="row">
      <div class="col-sm-12">
      <p><br /><br />ここには、使用説明がはいります。<br /><br /></p>
      </div>
    </div>    
  </div>

  <div class="session_act">
    <div class="row">
      <div class="col-sm-12">
      <h3>特定商取引法に基づく表記</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>販売社名</th>
            <td>有限会社KUSUNOKI</td>
          </tr>
          <tr>
            <th>代表者</th>
            <td>楠　宏和</td>
          </tr>
          <tr>
            <th>HP運営統括責任者</th>
            <td>増田　雄司</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>大阪府大阪市鶴見区今津南2-1-22</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>06-6967-2347</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>masuda_yuji@kusunoki210.jp</td>
          </tr>
          <tr>
            <th>販売URL</th>
            <td>http://kusunoki.shop</td>
          </tr>
          <tr>
            <th>お支払い方法</th>
            <td>代金引換／クレジットカード／コンビニお支払／電子マネー決済</td>
          </tr>
          <tr>
            <th>販売数量</th>
            <td>1個から</td>
          </tr>          
          <tr>
            <th>お申込み有効期限</th>
            <td>ご注文後1週間（入金確認できない場合キャンセルとさせていただきます）</td>
          </tr>     
          <tr>
            <th>商品引渡し時期</th>
            <td>ご指定日が無ければ、ご注文後２日営業日以内で発送致します。</td>
          </tr>
          <tr>
            <th>返品・交換</th>
            <td>「不良品・当社の商品の間違え」の場合は当社が負担いたします。<br/>
            配送途中の破損などの事故がございましたら、弊社までご連絡くださ。<br/>
            送料・手数料ともに弊社負担で早急に新品をご送付致します。<br/><br/>
            【返品対象】<br/>「不良品・当社の商品の間違え」の場合<br/><br/>
            【返品時期】<br/>ご購入後３日以内にご連絡があった場合に返金可能となります。<br/><br/>
            【返品方法】<br/>メールにて返金要請してください。<br/>３日以内にご購入代金を指定の口座へお振込いたします。</td>
          </tr>   
          <tr>
            <th>表現、及び商品に関する注意書き</th>
            <td>本商品に示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません。</td>
          </tr>
        </tbody>
      </table>
      
      <h3>お支払い方法と送料</h3>
      
      <div class="panel panel-danger">
        <div class="panel-heading">
          代引き手数料・送料割引制について
        </div>
        <div class="panel-body">※5セット（1800円税抜）以上お買い上げで手数料・送料 <span class="h3">半額</span> ！！<br />
          ※10セット（3600円税抜）以上お買い上げで手数料・送料 <span class="h3">無料</span> ！！
        </div>
      </div>
      
      <div>
        ●代引きをご選択の方は、ヤマト運輸の宅急便での配送となります。
      </div>
      <h4>代引き手数料</h4>
      <table class="table table-striped"> 
        <tbody>
          <tr>
            <th>代引き手数料</th>
          </tr>
          <tr>
            <th>300円</th>
          </tr>
        </tbody>
      </table> 
      <h4>宅急便</h4>
      <table class="table table-striped"> 
        <tbody>
          <tr>
            <th>北海道</th><th>北東北</th><th>南東北</th><th>関東圏</th><th>中部・関西圏</th><th>中国・四国</th><th>沖縄</th>
          </tr>
          <tr>
            <td>北海道</td>
            <td>青森県<br />秋田県<br />岩手県</td>
            <td>宮城県<br />山形県<br />福島県</td>
            <td>茨城県 栃木県 群馬県<br />
                埼玉県 千葉県 神奈川県<br />
                東京都 山梨県 新潟県<br />
                長野県</td>
            <td>静岡県 愛知県 三重県 岐阜県<br />
                富山県 石川県 福井県 大阪府<br />
                京都府 滋賀県 奈良県 和歌山県<br />
                兵庫県 岡山県 広島県 山口県<br />
                鳥取県 島根県</td>
            <td>香川県 徳島県 愛媛県<br />
                高知県 福岡県県 佐賀県<br />
                長崎県 熊本県 大分県<br />
                宮崎県 鹿児島県</td>                
            <td>沖縄県</td>
          </tr>
          <tr>
            <th>1400円</th><th>1000円</th><th>900円</th><th>800円</th><th>700円</th><th>800円</th><th>1200円</th>
          </tr>
        </tbody>
      </table>
      <p>※離島料金はかかりません<br /><br /><br /></p>
      
      <div>
        ●クレジットカード/コンビニ/電子マネー支払いをご選択の方は、ヤマト運輸のネコポス便での配送となります。
      </div>
      
      <h4>ポスト投函便</h4>
      <table class="table table-striped"> 
        <tbody>
          <tr>
            <th>全国一律</th>
          </tr>
          <tr>
            <th>450円</th>
          </tr>
        </tbody>
      </table>
      </div>
    </div>      
  </div>
  
  <div class="session_howto">
    <div class="row">
      <div class="col-sm-12">
      <h3>プライバシーポリシー</h3>
        <p>株式会社KUSUNOKI（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報の保護を推進致します。</p>
        <dl>
          <dt><strong>個人情報の利用目的</strong></dt>
          <dd>取得した個人情報は、商品の発送、当社からのご連絡やご案内、ご質問に対する回答としての電子メール送信に利用いたします。</dd>
          <dt><strong>個人情報の安全管理</strong></dt>
          <dd>当社は、取得した個人情報について適切な管理に努めると共に、漏洩・不正な侵入の防止に努めます。</dd>
          <dt><strong>個人情報の第三者への開示</strong></dt>
          <dd>当社は、取得した個人情報を、次のいずれかに該当する場合を除き第三者に開示いたしません。
            <ul>
              <li>お客さまの同意がある場合</li>
              <li>法令に基づき開示することが必要である場合</li>
            </ul>
          </dd>
          <dt><strong>ご本人の照会</strong></dt>
          <dd>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</dd>
          <dt><strong>法令、規範の遵守と見直し</strong></dt>
          <dd>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</dd>
          <dt><strong>お問い合せ</strong></dt>
          <dd>当社の個人情報の取扱に関すお問い合せは下記までご連絡ください。<br/>
              株式会社 KUSUNOKI<br/>
              Mail:	masuda_yuji@kusunoki210.jp</dd>
        </dl>  
      </div>
    </div>      
  </div>
  
</div>
