<div id="contents_pb">
<div class="container">

  <div id="about_product">
    <div class="row">
      <div class="col-sm-12">
      <p><br /><br />ここには、商品説明が入ります。<br />製品に関するこだわりや、使用シチュエーションなど。<br />
      ブランドコンセプト<br /><br /></p>
      </div>
    </div>
  </div>

  
</div>
</div><!-- contents_pb -->