<div id="contents_pb">
<div class="container">

  <div id="about_product">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>KUSUNOKIの商品づくり</h1>
        <div class="waku2">
          <p class="text-center"><i class="glyphicon glyphicon-zoom-out"></i>　現在作成中です！しばらくおまちください。</p>
        </div>
        <p>封筒のオリジナルブランドKUSUNOKIがお届けする、気持ちを伝える為の新しいツールを販売します。<br />
        デザイン・質感・重量感・サイズすべてにこだわり、開けた時にサプライズを演出できる、プレゼントに最適なメッセージカード付封筒です。</p>
      </div>
    </div>
  </div>

  
</div>
</div><!-- contents_pb -->