<div id="contents_pb">
  <div class="container">
    
    <div id="postage">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>送料について</h1>
          <p>商品のお届けには、ヤマト運輸様を使用させていただきます。<br />
          当店では、お支払い方法が「代金引換」の場合は「宅急便」を使用し、「クレジットカード決済・コンビニ支払い・電子マネー決済」の場合は「ネコポス（ポスト投函便）」を使用いたします。<br />
          上記以外のお支払い方法と配送方法の組み合わせは基本的にはお受けできません。予めご了承くださいませ。<br />
          ※発送は日本国内のみとさせていただきます。</p>
          <p>配送先の地域によって、下記の送料を頂戴いたします。</p>
          <h2>宅急便の場合</h2>
          <table class="table table-striped">
            <tr>
              <th style="width:20%;">北海道</th>
              <td>北海道</td>
              <td class="text-right">¥1400-</td>
            </tr>
            <tr>
              <th>北東北</th>
              <td>青森・秋田・岩手</td>
              <td class="text-right">¥1000-</td>
            </tr>
            <tr>
              <th>南東北</th>
              <td>宮城・山形・福島</td>
              <td class="text-right">¥900-</td>
            </tr>
            <tr>
              <th>関東・信越</th>
              <td>茨城・栃木・群馬・埼玉・千葉・東京・神奈川・山梨・長野・新潟</td>
              <td class="text-right">¥800-</td>
            </tr>
            <tr>
              <th>中部・北陸</th>
              <td>静岡・愛知・岐阜・三重・富山・石川・福井</td>
              <td class="text-right">¥700-</td>
            </tr>
            <tr>
              <th>関西・中国</th>
              <td>京都・滋賀・奈良・和歌山・大阪・兵庫・岡山・広島・山口・鳥取・島根</td>
              <td class="text-right">¥700-</td>
            </tr>
            <tr>
              <th>四国・九州</th>
              <td>香川・徳島・高知・愛媛・福岡・佐賀・長崎・熊本・大分・宮崎・鹿児島</td>
              <td class="text-right">¥800-</td>
            </tr>
            <tr>
              <th>沖縄</th>
              <td>沖縄</td>
              <td class="text-right">¥1200-</td>
            </tr>
          </table>
          <h2>ネコポスの場合（現在準備中）</h2>
          <table class="table table-striped">
            <tr>
              <th style="width:20%;">全国</th>
              <td>全国一律</td>
              <td class="text-right">¥450-</td>
            </tr>
          </table>
          <h3><i class="glyphicon glyphicon-circle-arrow-down"></i> 送料・代引き手数料の割引について</h3>
          <div class="waku3">
            <ul>
              <li>5セット（1800円税別）以上お買い上げで、手数料・送料<b>『半額』</b>です！</li>
              <li>10セット（3600円税別）以上お買い上げで、手数料・送料<b>『無料』</b>です！</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- postage -->
    
    <div id="payment">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>お支払い方法について</h1>
          <p>お支払い方法は、「代金引替」「クレジットカード決済」「コンビニお支払い」「電子マネー決済」からお選びいただけます。<br />
          ご都合に合わせて、各種ご利用ください。</p>
          <h3>＜代金引換＞</h3>
          <p>ご指定日が無ければ、ご注文後3日営業日以内で発送いたします。商品到着時に、担当ドライバーへご注文合計金額を<b>現金</b>でお支払いください。<br />
          <b>¥300-（税別）</b> の代引き手数料が必要になります。予め御ご了承ください。<br />
          ※¥1800-（税別）以上お買い上げで<b>半額</b>、¥3600-（税別）以上お買い上げで<b>無料</b>になります。</p>
          <h3>＜クロネコWebコレクト＞（現在準備中）</h3>
          <p>ご注文後、お支払い用ページのURLを記載したメールを配信いたします（送信アドレス*****@****）。<br />
          17時以降はメール送信が翌日になる可能性がございます。土日祝の場合は、弊社翌営業日になります。<br />
          「クレジットカード決済」「コンビニお支払い」「電子マネー決済」よりお支払い方法を選択していただき、お支払い用ページからをお支払いください。お支払い後、3日営業日以内で発送いたします。</p>
          <p><b>■クレジットカード決済</b><br />
          下記のカードブランドがご利用いただけます。お支払方法は一括・分割・リボ払いからそれぞれご選択いただけます。<br />
          <span class="payment_img"><%= image_tag("payment_cc.jpg") %></span></p>
          <p><b>■コンビニお支払い</b><br />
          下記のコンビニがご利用いただけます。<br />
          <span class="payment_img"><%= image_tag("payment_cb.jpg") %></span></p>       
          <p><b>■電子マネー決済</b><br />
          下記の電子マネーブランドがご利用いただけます。<br />
          <span class="payment_img"><%= image_tag("payment_dm.jpg") %></span></p>      
        </div>
      </div>
    </div><!-- payment -->
  
  </div>
</div><!-- contents_pb -->