<div id="contents_pb">
  <div class="container">
    
    <div id="law">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>特定商取引法に基づく表記</h1>
          <table class="table table-striped">
            <tr>
              <th style="width:20%;">ショップ名</th>
              <td style="width:80%;">KUSUNOKI SHOP</td>
            </tr>
            <tr>
              <th style="width:20%;">販売社名</th>
              <td style="width:80%;">有限会社KUSUNOKI</td>
            </tr>
            <tr>
              <th>代表者</th>
              <td>楠　宏和</td>
            </tr>
            <tr>
              <th>HP運営統括責任者</th>
              <td>増田　雄司</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>大阪府大阪市鶴見区今津南2-1-22</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>06-6967-2347</td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>masuda_yuji@kusunoki210.jp</td>
            </tr>
            <tr>
              <th>販売URL</th>
              <td>http://kusunoki.shop</td>
            </tr>
            <tr>
              <th>お支払い方法</th>
              <td>代金引換／クレジットカード決済／コンビニお支払い／電子マネー決済</td>
            </tr>
            <tr>
              <th>販売数量</th>
              <td>1セットから</td>
            </tr>          
            <tr>
              <th>お申込み有効期限</th>
              <td>ご注文後1週間（入金確認できない場合キャンセルとさせていただきます）</td>
            </tr>     
            <tr>
              <th>商品引渡し時期</th>
              <td>ご指定日が無ければ、<br />
                【代金引換の場合】<b>ご注文後</b>、3日営業日以内で発送いたします。<br />
                【クレジットカード・コンビニ・電子マネー決済の場合】<b>お支払い後</b>、3日営業日以内で発送いたします。</td>
            </tr>
            <tr>
              <th>返品・交換</th>
              <td>「不良品」・「当社の商品間違え」の場合は当社が負担いたします。<br/>
                     配送途中の破損などの事故がございましたら、弊社までご連絡ください。<br/>
                     送料・手数料ともに弊社負担で早急に新品をご送付いたします。<br/><br/>
                    【返品対象】「不良品」・「当社の商品間違え」の場合。<br/>
                    【返品期間】ご購入後7日以内にご連絡があった場合に返金可能となります。<br/>
                    【返品方法】メールにて返金の要請をお願いいたします。5日以内にご購入代金を指定の口座へお振込いたします。</td>
            </tr>   
            <tr>
              <th>表現、及び商品に関する注意書き</th>
              <td>本商品に示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません。</td>
            </tr>
          </table>
        </div>
      </div>
    </div><!-- law -->
      
    <div id="etc">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>その他</h1>
          <h3>＜お問い合わせフォームについて＞</h3>
          <p>メールアドレスは正確にご入力ください。正確でない場合は、対応できかねますのでご了承ください。<br />
          土曜日・日曜日・祝日、当社の年末年始・夏期休暇期間中のお問い合わせは、翌営業日以降のお返事とさせていただきます。</p>
          <h3>＜ユーザー情報・配送情報の入力について＞</h3>
          <p>メールアドレス、受取人名、住所は正確にご入力ください。商品の配送が未達になった場合、キャンセル扱いとさせていただきます。<br />
          ※フォームは全項目を入力いただく事をお勧めいたします。</p>
          <p>ご注文やお問い合わせ後、自動配信メールが届かない場合は、お手数ですが下記までご連絡お願い致します。<br />
          ※迷惑メールとして受信されている可能性もございます。「迷惑メールフォルダー」を一度ご確認ください。<br />
          TEL：06-6967-2347<br />
          FAX：06-6969-3150</p>
          <h3>＜商品代金以外の必要料金＞</h3>
          <p>■代金引換の場合：送料と¥300-（税別）の代引手数料が必要です。<br />
          ■クレジットカード・コンビニ・電子マネー決済の場合：送料が必要です。</p>
          <p><b>ただし、送料と代引手数料は、¥1800-（税別）以上お買い上げで半額、¥3600-（税別）以上お買い上げで無料になります。</b></p>
        </div>
      </div>
    </div><!-- etc -->
      
    <div id="privacy">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>プライバシーポリシー</h1>
          <p>株式会社KUSUNOKI（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報の保護を推進致します。</p>
          <dl>
            <dt><strong>■個人情報の利用目的</strong></dt>
            <dd>取得した個人情報は、商品の発送、当社からのご連絡やご案内、ご質問に対する回答としての電子メール送信に利用いたします。</dd>
            <dt><strong>■個人情報の安全管理</strong></dt>
            <dd>当社は、取得した個人情報について適切な管理に努めると共に、漏洩・不正な侵入の防止に努めます。</dd>
            <dt><strong>■個人情報の第三者への開示</strong></dt>
            <dd>当社は、取得した個人情報を、次のいずれかに該当する場合を除き第三者に開示いたしません。<br />
               ・お客さまの同意がある場合<br />
               ・法令に基づき開示することが必要である場合
            </dd>
            <dt><strong>■ご本人の照会</strong></dt>
            <dd>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</dd>
            <dt><strong>■法令、規範の遵守と見直し</strong></dt>
            <dd>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</dd>
            <dt><strong>■お問い合せ</strong></dt>
            <dd>当社の個人情報の取扱に関すお問い合せは下記までご連絡ください。<br/>
              株式会社 KUSUNOKI<br/>
              Mail:	masuda_yuji@kusunoki210.jp</dd>
          </dl>  
        </div>
      </div>      
    </div><!-- privacy -->
  
  </div>
</div><!-- contents_pb -->