<%= form_for(@cart) do |f| %>

  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <strong><i class="glyphicon glyphicon-pencil"></i> <%= @cart.errors.count %> 項目のエラーがあります</strong>
      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
