<div id="contents_pb">
<div class="container">
  <div class="row">

    <% @carts.each do |cart| %>
    <%= cart.id %> <%= cart.cart_pockets.ids %> <%= cart.line_items.ids %><br />
    <% end %>

  </div>
</div>
</div><!-- contents_pb -->