<div id="contents_pb">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>500 Internal Server Error</h1>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="waku2">
          <p class="h2 text-center"><i class="glyphicon glyphicon-zoom-out"></i>　お探しのページは開けませんでした</p>
        </div>
        <p class="text-center">システムエラーが発生しております。<br /><br />
        お手数ですがしばらく時間をおいてから再度お試しください。
        </p>
        <div class="actions text-center">
          <%= link_to 'TOPページへ', :root , class: "btn btn-default btn-lg"%>
        </div>
      </div>
    </div>    
    
    
    
  </div>
</div>