<div class="container">
    
    <h1>New Address</h1>
    
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-danger">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= render 'form' %>
      </div>
    </div>

</div>