
/* universal */

body {
  padding-top: 0;
}

p {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* cover */
.cover {
  width: 100%;
  height: 400px;
  background: image-url("cover.jpg") center center no-repeat;
  background-size: cover;
  .cover-inner {
    width: 300px;
    height: 100%;
    margin: auto;
    display: table;
    .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 0 20px 0;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.15em;
        text-shadow: 0 1px 1px rgba(0,0,0,0.1);
      }
    }
  }
}


/* envelope-box */
.envelope-box-row {
  background: #333;
}

.envelope-box img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.envelope-box {
	width: 100%;
	margin:	10px 0;
	padding: 0;
	position:	relative; /* 相対位置指定 */
  background: #444;
  .detail {
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    /* border-top: 0; */
    font-size: 12px;
    margin: 5px;
    /* border-bottom-right-radius: 3px; */
    /* border-bottom-left-radius: 3px; */
    .name {
      padding: 5px;
      text-align:	center;
      bottom: 0;
      color: #fff;
      background:	rgba(0,0,0,0.4);
      position:	absolute; /* 絶対位置指定 */
    }
  }
}