html,body {
  height: 100%;
}

#wrap {
  width: 100%;
  position: relative;
  height: auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
  background-color: #222;
}

#contents {
  padding-bottom: 0px; /*フッター画面下に固定の時にフッターの高さを入力*/
  background-color: #ffffff;
}

#contents_pb {
  padding-bottom: 50px; /* #contents + 50px */
  background-color: #ffffff;
}

#footer {
  /*フッター画面下に固定の時に使用*/
  /*height: 30px;*/
  /*width: 100%;*/
  /*position: absolute;*/
  bottom: 0;
  background-color: #222 ;
  
  h3 {
    color: #aaa;
    font-family: 'Yellowtail', cursive;
    font-size: 28px;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 20px 0;
  }
  
  h4 {
    margin: 0 !important;
    padding: 0 !important;
    float: none;
    height: 40px !important;
    .logo_footer {
      width: 180px;
      height: 27px !important;
      margin: 0;
      background: image-url("logo_footer.png") no-repeat 0 0;
      background-size: contain;
      display: block;
      white-space: nowrap;
      }
    }
    
  p {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #aaa;
    line-height: 24px;
  }
  
  ul {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    color: #aaa;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    position:relative;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
  }
  
  li:before {
    content:''; 
	  display:block; 
	  position:absolute; 
	  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
	  top:3px; 
	  left:2px; 
	  height:0; 
	  width:0; 
	  border-top: 5px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 6px solid #aaa;
  }
  
  a:link {
    color: #aaa;
    text-decoration: none;
    background-color: #222
  }
    
  a:visited {
    color: #aaa;
    text-decoration: none;
    background-color: #222
  }
  a:active {
    color: #aaa;
    text-decoration: none;
    background-color: #222
  }      
  a:hover {
    color: #fdfdfd;
    text-decoration: none;
    background-color: #222
  } 
  
  hr {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2a2a2a;
    margin: 15px 0 10px 0;
    padding: 0;
    border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
  }
  
  .copyright {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #aaa;
    margin: 0;
    padding: 0 0 10px 0;
  }
}