ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 30px 0;
  width: 100%;
}
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none;
  }
  ul.thumbnails.image_picker_selector li {
    margin: 0;
    float: left;
  }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 20px 45px;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
	}
    ul.thumbnails.image_picker_selector li .thumbnail img {
      -webkit-user-drag: none;
      width:100%;
	}
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
	  background: repeating-linear-gradient(-45deg, #222222, #222222 7px, #555555 0, #555555 14px);
	  filter:alpha(opacity=100);
	  opacity: 1.00;
	}
	  
	      
    