<div class="container-fluid">
  <% product_envelopes.each do |envelope| %>
    <div class="clearfix">
      <div class="row">
        <div class="envelope-box col-sm-2 col-md-3 col-lg-4">
          <div class="detail">
            <p class="name">
              <%= envelope.name %>
            </p>
            <p class="description">
              <%= envelope.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>